.App-container {
  min-height: 100vh;
  background:
    radial-gradient(circle farthest-side at top left, rgba(255,68,135,1), transparent 100%),
    radial-gradient(circle farthest-side at bottom left, rgba(254,195,123,1), transparent 100%),
    radial-gradient(circle farthest-side at top right, rgba(255,254,251,1), transparent 100%),
    radial-gradient(circle farthest-side at bottom right, rgba(254,195,123,1), transparent 100%);

  &__form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    border-radius: 1rem;

    &-title {
      font-family: 'Geomanist Bold', sans-serif;
      padding: 1rem 10rem;
      font-size: 2rem;
    }
  }
}
