$white-light-1: white;
$white-light-2: #eee;
$blue-light-1: #f0f5fe;
$blue-dark-1: #0a58ed;

.create-account-container {
  font-family: "Inter", sans-serif;
  padding: 9rem 1rem 0rem 1rem;

  &__title {
    width: 40%;
    margin-bottom: 3rem;

    h2 {
      font-family: "Geomanist Bold", sans-serif;
      font-size: 3.5rem;
    }
  }

  .form-container {
    font-size: 1.4rem;

    .input-group {
      &__input {
        width: 100%;
        border: none;
        height: 4.5rem;
        border-radius: 5px;
        background: $blue-light-1;
        padding-left: 1rem;

        &:focus {
          outline: none;
        }
      }

      &__label {
        display: block;
        margin-bottom: 0.5rem;
      }

      &__checkbox-text {
        margin-left: 1rem;
        font-size: 1.2rem;
      }

      &--margined {
        margin: 3rem 0 !important;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .button {
      width: 100%;
      border: none;
      height: 4.5rem;
      border-radius: 5px;

      &__icon-text {
        margin-left: 1rem;
      }

      &--primary {
        background: $blue-dark-1;
        color: $white-light-2;
      }

      &--secondary {
        background: $white-light-1;
        color: $blue-dark-1;
        border: 1px solid $blue-dark-1;
      }

      &:focus {
        outline: none;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
