$background-color-1: rgba(255,68,135,1);
$background-color-2: rgba(254,195,123,1);
$background-color-3: rgba(255,254,251,1);
$color-black: #101010;
$color-white: #fff;
$color-gray-light-1: #f5f5f5;
$color-gray-light-2: #c4c4c4;

.App-container {
  font-family: 'Inter', sans-serif;
  color: $color-black;
  min-height: 100vh;
  background:
    radial-gradient(circle farthest-side at top left, $background-color-1, transparent 100%),
    radial-gradient(circle farthest-side at bottom left, $background-color-2, transparent 100%),
    radial-gradient(circle farthest-side at top right, $background-color-3, transparent 100%),
    radial-gradient(circle farthest-side at bottom right, $background-color-2, transparent 100%);

  &__form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: $color-white;
    border-radius: 1rem;
    padding-bottom: 2rem;

    &-title {
      font-family: 'Geomanist Bold', sans-serif;
      padding: 2.5rem 10rem 0.5rem 10rem;
      font-size: 2.4rem;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

.form-group {
  margin:1.5rem 3rem;

  &__input-text {
    width: 100%;
    height: 3rem;
    border: 2px solid $color-gray-light-1;
    border-radius: 0.7rem;
    font-size: 0.9rem;
    background: $color-gray-light-1;
    padding-left: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:focus {
      outline: none;
      background-color: $color-white;
      box-shadow: 0 0.1rem 0.8rem rgba($color-black, 0.05);
    }

    &::placeholder {
      font-style: italic;
      color: $color-gray-light-2;
    }
  }
}
